@charset "utf-8";
/* CSS Document */

*
{
	box-sizing: border-box;
}

html, input
{
	font-size: 16px;
	line-height: 1.125;
}

html
{
	min-width: 320px;
}

html {
	height: auto !important;
	
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

body {

	/*position: relative;*/
	width: auto !important;
	height: auto !important;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #000 right bottom no-repeat fixed url(../images/background.png) !important;
	background-size: auto 100% !important;
}

.ui-bar-a 
.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a {
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-collapsible-inset,
.ui-collapsible-set {
    margin: 0px 0px;
}

/* HELPERS */

.dock-top {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.dock-bottom {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.dock-left {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
}

.dock-right {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

.dock, .fixed-dock {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.fixed-dock {
	position: fixed;
}

.center-horizontal {
	margin-left: auto;
	margin-right: auto;
}

/* HELPERS */


/*Home page styling*/

#home {
	text-shadow: none;
}

#home .content
{
	top: 0px;
	bottom: 0px;
	text-align: center;
}

#home .homeList a {
	background: rgba(255,255,255,.8);
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
	color: rgb(51, 51, 51);
	text-shadow: 0px 1px 0px rgb(243, 243, 243);
}

#home .header
{
	padding: 10px 0 0 0;
	width: auto;
}

#home img {
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#home .footer {
	margin: 10px auto 0 auto;
	background: rgba(255,255,255,.5);
	position: absolute;
	height: 100px;
	/*max-width: 500px;*/
}

#home .footer .dock-left {
	width: 50px;
}

#home .footer .dock-right {
	left: 50px;
}

#home .footer .dock-right > div {
	padding: 0px 10px;
	line-height: 25px;
	font-size: 15px;
}

/*End Home page styling*/

.page {
	min-height: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

.pageheader {
	position: absolute;
	width: 100%;
	height: 50px;
}

.pagefooter {
    max-width: 100%;
    position: absolute;
    bottom: 0px;
    width: 100%;
	max-height: 75px;
}

#nextBackBtns
{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}

.ui-mobile .ui-page {
	background-color: rgba(0, 0, 0, 0);
	/*height: 100%;*/
	padding: 0 !important;
	min-height: 100%;
	left: 0;
	right: 0;
}

#details-page {
	color: #FFF !important;
	text-shadow: none !important;
}

/*#details-page .ui-btn-active {
	background-color: transparent;
	border-color: transparent;
	color: inherit;
}*/

#details-page .ui-header
{
	height: 78px;
}

.ui-listview>.ui-li-divider {
    padding-left: 0.5em;
}

.inlineIcon {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 6px;
}

.new-list {
	transform: translate3d(0,0,0);

	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;

	overflow-y: auto;
	font-size: 16px;
	text-shadow: none;
}

.new-list ul {
	transform: translate3d(0,0,0);

	margin: 0;
	padding: 0;
	list-style-type: none;
	/*background: #FFF;*/
}

.new-list li {
	transform: translate3d(0,0,0);

	position: relative;
	margin: 0;
	border-bottom: 1px solid #777;
	background: rgba(255, 255, 255, 0.8) !important;
	cursor: pointer;
	padding: 10px;
	height: 50px;
}

/*.new-list li:nth-child(odd) {
	background: #F0F0F0;
}*/

.new-list-remove {
	position: absolute;
	width: 40px;
	height: auto;
	text-align: center;
	display: inline-block;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.search-hidden {
	display: none;
}



.content {
	position: absolute;
	top: 50px;
	bottom: 56px;
	left: 0;
	right: 0;
	padding: 0;
}

#details-page > .content {
	top: 78px;
}

.content-details {
	overflow-y: auto;
}


/* Details page styles */
#old-play {
	background: rgba(255,255,255,.8);
	display: block;
	border-radius: 5px;
	color: rgb(51, 51, 51);
	text-shadow: 0px 1px 0px rgb(243, 243, 243);
}

#playFav {
	bottom: 60px;
}
/*.favourites {
	position: absolute;
	margin-bottom: 0px !important;
}*/

.ui-block-a > .field
{
	font-weight : bold;
	text-align: left;
}

.ui-grid-a, .ui-block-a {
	position: relative;
}

.ui-grid-a-bottom {
	position: absolute;
	top: 84px;
	bottom: 10px;
	left: 0px;
	right: 0px;
	margin-left: 16px;
	margin-right: 16px;
}

.overflow-y
{
	overflow-y: scroll;
}

#detail-image
{
	width: 50%;
	height: 200px;
	top: 100px;
	margin-top: 50px;
	margin-bottom: 20px;
	background: no-repeat center;
	
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain; 
}

#detail-description.ui-bar.value {
	height: 200px;
	overflow-y: auto;
}

/*Information Page Styles*/
#information-page {
	color: #FFF !important;
	text-shadow: none !important;
	background: rgba(0,0,0,.3) !important;
}

#information-page .ui-block-b p {
	width  : 95%;
    height : auto;
	margin-right: 5px;
	margin-left: 5px;
	color: rgba(255, 255, 255, 1);
}

#information-page .ui-grid-a {
	top: 0px;
	bottom: 75px;
	overflow-y: auto;
	text-align: center;
	font-family: "Adobe Garamond Pro Bold", "Adobe Garamond Pro", "BankGothic Md BT", "BankGothic Lt BT";
	font-weight: bold;
}

#information-page .ui-grid-a img {
    width  : 100%;
    height : auto;
	padding-right: 10px;
	padding-top: 10px;
}
/*End Information Page Styles*/

/*Favourites Page Styles*/
#fav-page .new-list {
	top: 0px;
}
/*End Favourites Page Styles*/


#loading
{
	z-index: 99999999;
	background: rgba(0, 0, 0, 0.5);
}

#loading > .ui-icon-loading
{
	margin: auto;
	width: 64px;
	height: 64px;
	/*background-color: #000;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	border-radius: 16px;
}