@charset "utf-8";
/* CSS Document */

html, body {
	height: 100% !important;
}

body {
	position: absolute;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-size: auto;
	background: url(../images/background.png) no-repeat;
	background-size: 100% 100%;
	background-attachment: inherit;	
	left: 0;
	right: 0;
	top 0;
	bottom: 0px;
}

/*Home page styling*/
.logo {
	width: inherit;
	height: 160px;
	background: url(../images/wajarri-logo2.png) no-repeat center;
	background-size: contain;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	top 0;
}

#home .homeList a {
	background: rgba(255,255,255,.8);
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
	color: rgb(51, 51, 51);
	text-shadow: 0px 1px 0px rgb(243, 243, 243);
}

#home .ui-grid-a {
	position: absolute;
	bottom: 10px;
	padding: 10px;
	left: 0px;
	right: 0px;
}

#home .ui-grid-a img{
	position: fixed;
	width: 20%;
	height: auto;
	max-height: 35%;
	max-width: 100px;
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	bottom: 5px;
}

#home .ui-block-b {
	position: fixed;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30%;
	padding-right: 10% !important;
	bottom: 0px;
	
}
/*End Home page styling*/

.pageheader {
	width: 100%;
	height: 50px;
}

#bottomNavBtns{
    max-width: 100%;
    position: fixed;
    bottom: 0px;
    width: 100%;
	max-height: 75px;
}

#nextBackBtns
{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}

.page {
	background-color: rgba(0, 0, 0, 0) !important;
	height: 100%;
	left: 0;
	right: 0;
}

#details-page {
	color: #FFF !important;
	text-shadow: none !important;
}

#details-page .ui-btn-active {
	background-color: transparent;
	border-color: transparent;
	color: inherit;
}

#details-page .ui-header
{
	height: 78px;
}

.eng-list, .waj-list {
	top: 50px;
	bottom: 75px;
}

.megalist
{
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
}
.megalistItem {
	background:  rgba(255,255,255,.8);
	height: 50px !important;
	display: block;
	border-radius: 1px;
	cursor: pointer;
	right: 0 !important;
	width: auto !important;
	padding: 0 !important;
}
.megalistItem > span {
	position: absolute;
	top: 0;
	bottom: 0;
}

.megalistItem > span:first-child {
	left: 0;
	padding: 12px;
}
.megalistItem > span:last-child {
	display: none;
}

#fav-list .megalistItem > span:last-child {
	display: block;
	right: 0;
	width: 30px;
	text-align: center;
	padding: 10px;
}

.megalistSelected {
	border-color: #38C;
	color: #FFF;
	box-shadow: 0px 0px 12px #38C;
}

.content, .content-details {
	position: absolute;
	top: 50px;
	bottom: 59px;
	left: 0;
	right: 0;
}

.content-details {
	top: 78px;
	overflow-y: scroll;
}
/* Details page styles */
#old-play {
	background: rgba(255,255,255,.8);
	display: block;
	border-radius: 5px;
	color: rgb(51, 51, 51);
	text-shadow: 0px 1px 0px rgb(243, 243, 243);
}

#playFav {
	bottom: 60px;
}
/*.favourites {
	position: absolute;
	margin-bottom: 0px !important;
}*/

.ui-block-a > .field
{
	font-weight : bold;
	text-align: left;
}

.ui-grid-a, .ui-block-a {
	position: relative;
}

.ui-grid-a-bottom {
	position: absolute;
	top: 84px;
	bottom: 10px;
	left: 0px;
	right: 0px;
	margin-left: 16px;
	margin-right: 16px;
}

.overflow-y
{
	overflow-y: scroll;
}

#detail-image
{
	width: 50%;
	height: 200px;
	top: 100px;
	margin-top: 50px;
	margin-bottom: 20px;
	background: no-repeat center;
	
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain; 
}

#detail-description.ui-bar.value {
	height: 200px;
	overflow-y: scroll;
}

/*Information Page Styles*/
#information-page {
	color: #FFF !important;
	text-shadow: none !important;
	/*background: rgba(0,0,0,.3) !important;*/
	padding-top: 0px !important;
}

#information-page .ui-block-b p {
	width  : 95%;
    height : auto;
	margin-right: 5px;
	margin-left: 5px;
	color: rgba(255, 255, 255, 1);
}

#information-page .ui-grid-a {
	overflow-y: auto;
	text-align: center;
	font-family: sans-serif;
}

#information-page .ui-grid-a img {
    width  : 100%;
    height : auto;
	padding-right: 10px;
	padding-top: 10px;
}
/*End Information Page Styles*/

/*Favourites Page Styles*/
#fav-page .megalist {
	top: 0px;
}
/*End Favourites Page Styles*/
